
.combo-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.municipio-title{
    color: #696161; 
    text-align: center; 
    font-size: 2.0rem; 
    font-weight: bold;
    margin: 10px;
}

.municipio-content{
    font-size: 1.4rem;
}

.municipio-background{
    background-color: #867A88;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 300px;
}

.municipio-page{
    display: flex;
}

.municipio-content{
    width: 100%;
    max-width: 800px;
    transform: translateY(-150px);
}